<% @products.order(:created_at).each do |product| %>
  <% if product.photos.attached? %>
  <!-- Card with CL Picture -->
    <div class="card d-flex justify-content-between flex-column" data-controller="stock">
      <span style="display: none;" data-stock-target="id"s><%= product.id %></span>
      <!-- Image -->
      <%= cl_image_tag product.photos.first.key, height: 200, width: 300, crop: :fill %>

      <!-- Stock -->
      <span id="stock-<%= product.id %>">
        <% if product.stock.nil? || product.stock <= 0 %>
          <p class="out-stock">Out of stock</p>
        <% elsif product.stock <= 10 && product.stock > 0  %>
          <p id="stock" data-stock-id="" class="last-stock js" data-stock-target="count">Last <%= product.stock %> </p>
        <% end %>
      </span>

      <!-- Title -->
      <p class="cart-title"><%= product.title %></p>

      <!-- Price -->
      <div class="d-flex justify-content-between align-items-center">
        <p class="cart-price">EUR <%= product.price %></p>

        <!-- Add to Cart -->
        <%= simple_form_for [@product, @order_item], :html => {:"data-action" => 'click->stock#refresh'}, remote: true do |f| %>
          <%= f.hidden_field :product_id, :value => product.id %>
          <%= f.hidden_field :quantity, :value => 1, :min => 1 %>
          <%= f.hidden_field :stock, :value => 1, :min => 1 %>
          <% if product.stock.nil? || product.stock == 0 %>
            <%= f.submit '+', :class => 'add-to-cart-disable', disabled: true %>
          <% else %>
            <%= f.submit '+', :class => 'add-to-cart', 'data-stock-target': "class" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>









  <!-- Card with-out CL Picture -->
    <div class="card d-flex justify-content-between flex-column" data-controller="stock">
      <span data-stock-target="id"><% product.id %></span>
      <!-- Image -->
      <%= image_tag "featured-1.png", alt: "alttext" %>

      <!-- Stock -->
      <span>
        <% if product.stock.nil? || product.stock == 0 %>
          <p class="out-stock">Out of stock</p>
        <% elsif product.stock <= 10 && product.stock > 0  %>
          <p class="last-stock" data-stock-target="count">Last <%= product.stock %> </p>
        <% end %>
      </span>

      <!-- Title -->
      <p class="cart-title"><%= product.title %></p>

      <!-- Price -->
      <div class="d-flex justify-content-between align-items-center">
        <p class="cart-price">EUR <%= product.price %></p>

        <!-- Add to Cart -->
        <%= simple_form_for [@product, @order_item], :html => {:"data-action" => 'click->stock#refresh'}, remote: true do |f| %>
          <%= f.hidden_field :product_id, :value => product.id %>
          <%= f.hidden_field :quantity, :value => 1, :min => 1 %>
          <%= f.hidden_field :stock, :value => 1, :min => 1 %>
          <% if product.stock.nil? || product.stock == 0 %>
            <%= f.submit '+', :class => 'add-to-cart-disable', disabled: true %>
          <% else %>
            <%= f.submit '+', :class => 'add-to-cart' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
