<nav class="navbar navbar-expand-md navbar-light">


  <div class="collapse navbar-collapse justify-content-between px-5" id="collapse_target">
    <!-- Logo -->
    <%= link_to root_path do %>
       <%= image_tag "logo.png", class: "", :style => "height: 60px;" %>
    <% end %>
    <!-- Logo -->

    <ul class="navbar-nav ml-auto pt-2">
      <!-- Shop Now button -->
      <li class="nav-item">
        <%= link_to shops_path do %>
          <button class="mdc-button mdc-button--outlined">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Shop Now</span>
          </button>
        <% end %>
      </li>
      <!-- Shop Now button -->

      <!-- Log Out User/Admin -->
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <p class="nav-link dropdown-tottle waves-effect" id="navbar-dropdown-admin" data-toggle="dropdown">Welcome <%= current_user.user_name %></p>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#!">Dasboard</a>
              <a class="dropdown-item" href="#!">Mesages</a>
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'dropdown-item'  %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'nav-link'  %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", user_session_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
      <!-- Log Out User/Admin -->

      <!-- Shopping Cart -->
      <li class="nav-item">
        <%= link_to carts_path, :class=> "nav-link navbar-link-2 waves-effect" do %>
            <i class="fas fa-shopping-cart pl-o"></i>
        <% end %>
      </li>
      <li class="nav-item" id="cart">
        <%= render 'carts/cart' %>
      </li>
      <!-- Shopping Cart -->

    </ul>
  </div>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>




