<div class="order-items-title">
  <h1>Shopping Cart</h1>
  <p>Unit Price</p>
</div>

<div id="cart-item">
  <% @order_items.each do |item| %>
    <div class="row order-item-card">
      <div class="order-item-picture col-12 col-lg-2">
        <%= cl_image_tag item.product.photos.first.key , alt: "product-picture" %>
      </div>
      <div class="order-item-info col-12 col-lg-8">
        <%= item.product.title %>
        <%= form_for item, remote: true do |f| %>
          <%= f.hidden_field :product_id, :value => item.product.id %>
          <%= f.number_field :quantity, :value => item.quantity.to_i, max: item.product.stock %>
          <%= f.submit "Update Cart", class: "btn btn-light btn-sm" %>

          <%= link_to "Remove Items", order_item_path(item), class: "btn btn-light btn-sm", method: :delete, remote: true%>
        <% end %>
      </div>
      <div class="order-item-price col-12 col-lg-2">
        <%= item.product.price %>
      </div>
    </div>
  <% end %>
</div>

  <!-- <p>Subtotal: <%#= item.total %> </p> -->


<!-- <p>Total: <%#= current_order.subtotal%> </p> -->
