<div class="dashboard-menu">
  <div class="dashboard-avatar d-flex justify-content-center align-items-center flex-column py-3">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key , alt: "avatar" %>
    <% else %>
      <%= link_to edit_user_registration_path do  %>
        <div><%= cl_image_tag 'avatar-default_rkbnhg', :width=>70, :crop=>"scale", alt: "avatar-default", class: "avatar-default" %></div>
      <% end %>
    <% end %>
    <p class="user-name"><%= @user.user_name %></p>
    <p class="user-role">Role</p>
  </div>
  <div class="dasboard-link menu-options">
    <ul>
      <li>Dashboard</li>
      <li>Products</li>
      <li>Categories</li>
      <li>Orders</li>
      <li>Clients</li>
      <li>Messages</li>
      <li>Profile</li>
    </ul>
  </div>
  <div class="dashboard-link menu-log-out">
    <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'nav-link'  %>
  </div>
</div>
