<% if user_signed_in? %>
  <% if current_user.admin? %>
  <div class="row form-container justify-content-center">
    <div class="col-10 col-lg-12">
      <div>
        <h2>Create a new product</h2>
        <%= simple_form_for(@product) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :title, label: false, placeholder: "Product Name", class: "form-imput-underlined" %>
            <%= f.input :price, label: false , placeholder: "40", class: "form-imput-underlined" %>
            <%= f.input :stock, label: false , placeholder: "1000", class: "form-imput-underlined" %>
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-max-file-size="5" data-dropzone-max-files="4">
              <%= f.input :photos, as: :file, input_html: { multiple: true, data: { target: "dropzone.input" }, direct_upload: true }, label: false %>
              <div class="dropzone-msg dz-message needsclick text-gray-600">
                <span class="d-flex justify-content-center">
                  <h3 class="dropzone-msg-ttile mr-1">Drop & Drop or</h3>
                  <h3 style="color: #047bff; text-decoration: underline;"> browse</h3>
                </span>
                <span class="dropzone-msg-desc text-sm"> 5 MB file size maximum. Allowed file type .png .jpg</span>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, '+ Add Product', class: "btn btn-primary btn-lg btn-block mt-3"%>
          </div>
        <% end %>

        <p class="d-flex align-items-center link-with-arrow"><<%= link_to 'Back', products_path, :class => "blockquote-footer" %></p>
      </div>
    </div>
  </div>
  <% else %>
    <% controller.redirect_to new_user_session_path %>
  <% end %>
<% else %>
  <% controller.redirect_to new_user_session_path %>
<% end %>
